footer(class="py-10 bg-gray-900 overflow-hidden")
    div(class="container mx-auto px-4")
        div(class="px-10 pt-9 pb-8 bg-gray-800 rounded-3xl")
            div(class="flex flex-wrap items-center justify-between mb-2 -m-4")
                div(class="w-1/2 p-4")
                    a(class="inline-block", href="/")
                        img(src="/images/logo.svg", alt="", width="130")
                div(class="w-1/2 p-4 text-right")
                    a(class="px-6 py-3 text-md text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="/login/") Get Started
            div(class="flex flex-wrap justify-center items-center -m-1")
                div(class="w-auto p-1")
                    p(class="text-gray-500 text-center font-medium") Created by Anderson M. & Jefferson G.
