footer(class="py-10 bg-gray-900 overflow-hidden")
    section(class="pb-18 bg-gray-900 overflow-hidden")
        div(class="container mx-auto px-4")
            div(class="py-16 px-8 md:px-16 bg-gray-800 rounded-3xl")
                div(class="flex flex-wrap items-center -m-4")
                    div(class="w-full md:w-1/2 p-4")
                        h2(class="font-heading text-4xl md:text-5xl text-white font-black tracking-tight")
                            span(class="text-blue-500") Ready to tell the story of your project?&nbsp;
                            span Get started now.
                    div(class="w-full md:w-1/2 p-4")
                        div(class="flex flex-wrap md:justify-end -m-2")
                            div(class="w-auto p-2")
                                a(class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="/login/") Get Started
    div(class="container mx-auto px-4")
        div(class="py-8 bg-gray-800 rounded-3xl")
            div(class="w-full p-4 text-center")
                a(class="inline-block", href="/")
                    img(class="h-12" src="/images/logo.svg", alt="")
            div(class="w-auto m-6")
                p(class="text-lg tracking-wide text-gray-400 text-center font-medium") Created by&nbsp;
                    a(class="underline underline-offset-4 font-semibold", href="https://www.linkedin.com/in/anderson-ravagnani-m-692ab328/?locale=en_US", target="_blank") Anderson M.
                    span &nbsp; &amp; &nbsp;
                    a(class="underline underline-offset-2 font-semibold", href="https://www.linkedin.com/in/jefferson-gibin/?locale=en_US", target="_blank") Jefferson G.
