html(lang="en")
    head
        title Login - LateUnicorn.com
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon.png")
    body(class="antialiased md:mt-14 bg-body text-body font-body bg-gray-900")
        section(class="py-10 overflow-hidden")
            div(class="container mx-auto px-4")
                div(class="p-10 bg-gray-800 rounded-3xl")
                    div(class="flex flex-wrap md:items-center -m-8")
                        div(class="w-full md:w-1/2 p-8")
                            div(class="py-20 px-8 lg:px-20 bg-gray-900 rounded-3xl")
                                a(href="/")
                                    img(class="mb-20", src="/images/logo.svg", alt="")
                                h2(class="font-heading mb-10 text-3xl md:text-3xl lg:text-5xl font-black text-blue-500") Don’t let your projects be forgotten.
                                h2(class="font-heading mb-6 text-3xl md:text-3xl lg:text-5xl text-white font-black") Join us and share their stories with the world.
                        div(class="w-full md:w-1/2 p-8")
                            div(class="md:max-w-md mx-auto")
                                div(class="flex flex-wrap -m-3")
                                    div(class="w-full p-3")
                                        div(class="flex flex-wrap md:justify-end -m-2")
                                            div(class="w-full p-2")
                                                button(id="continue-with-google", class="w-full flex items-center justify-center px-8 py-6 bg-gray-900 hover:bg-gray-700 focus:ring-4 focus:ring-blue-200 rounded-full")
                                                    img(class="mr-2.5", src="/images/google.svg", alt="")
                                                    span(class="text-lg lg:text-xl text-white text-center font-bold") Continue with Google
