html(lang="en")
    head
        title LateUnicorn.com
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon.png")
        script(defer, src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2")
        script(defer, src="/js/main.js")
        script(defer, src="/js/project.js")
    body(class="antialiased bg-body text-body font-body bg-gray-900")
        div(class="")
            include ../partials/navbar.pug

            section(class="pb-8 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="py-16 px-8 bg-gray-800 rounded-3xl")
                        div(id="project-spinner", class="w-full py-20 text-center")
                            img(class="w-20 h-20 inline-block animate-spin", src="/images/spinner.svg", alt="")

                        div(id="project-details", class="max-w-7xl mx-auto hidden")
                            div(class="mb-10 md:max-w-4xl mx-auto text-center")
                                h2(data-name="", class="font-heading text-4xl md:text-5xl lg:text-6xl text-white font-black")
                                div(data-project_id="", class="mb-6 text-xl text-gray-500 font-black")
                            ul(id="category-list", class="flex flex-wrap justify-center -m-3 mb-8")
                            div(class="flex flex-wrap -m-8")
                                div(class="w-full md:flex-1 p-8")
                                    div(class="flex flex-wrap -m-3")
                                        div(class="w-full p-3")
                                            div(class="p-10 bg-gray-900 rounded-3xl")
                                                div(class="flex flex-wrap -m-2")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Project description:
                                                        p(data-description="", class="text-gray-100 text-xl font-bold")
                                                    div(class="w-full flex flex-wrap md:w-1/2 md:pl-8")
                                                        div(class="w-full md:w-1/2 p-2")
                                                            h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Total users:
                                                            p(data-total_users="", class="text-gray-100 text-xl font-bold")
                                                        div(class="w-full md:w-1/2 p-2")
                                                            h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Total revenue:
                                                            p(data-total_revenue="", class="text-gray-100 text-xl font-bold")
                                                        div(class="w-full md:w-1/2 p-2")
                                                            h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Project lifespan:
                                                            p(data-lifetime="", class="text-gray-100 text-xl font-bold")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Founder(s):
                                                        p(data-founders="", class="text-gray-100 text-xl font-bold")
                                        div(class="w-full p-3")
                                            div(class="p-10 bg-gray-900 rounded-3xl")
                                                div(class="flex flex-wrap -m-2")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Core features:
                                                        p(data-features="", class="text-gray-100 text-xl font-bold")
                                                    div(class="w-full md:w-1/2 md:pl-8")
                                                        div(class="w-full p-2")
                                                            h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Core technologies:
                                                            p(data-technologies="", class="text-gray-100 text-xl font-bold")
                                        div(class="w-full p-3")
                                            div(class="p-10 bg-gray-900 rounded-3xl")
                                                div(class="flex flex-wrap -m-2")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Point of failures:
                                                        p(data-failures="", class="text-gray-100 text-xl font-bold")
                                                    div(class="w-full md:w-1/2 md:pl-8")
                                                        div(class="w-full p-2")
                                                            h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Main learnings:
                                                            p(data-learnings="", class="text-gray-100 text-xl font-bold")
                                        div(id="speculation-section", class="w-full p-3 hidden")
                                            div(class="p-10 bg-gray-900 rounded-3xl")
                                                div(class="-m-2")
                                                    div(class="w-full p-2 relative")
                                                        svg(class="absolute -start-5 w-2/3 p-4 text-gray-100 dark:text-neutral-700", width="18", height="18", viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg", aria-hidden="true", hidden)
                                                            path(d="M7.39762 10.3C7.39762 11.0733 7.14888 11.7 6.6514 12.18C6.15392 12.6333 5.52552 12.86 4.76621 12.86C3.84979 12.86 3.09047 12.5533 2.48825 11.94C1.91222 11.3266 1.62421 10.4467 1.62421 9.29999C1.62421 8.07332 1.96459 6.87332 2.64535 5.69999C3.35231 4.49999 4.33418 3.55332 5.59098 2.85999L6.4943 4.25999C5.81354 4.73999 5.26369 5.27332 4.84476 5.85999C4.45201 6.44666 4.19017 7.12666 4.05926 7.89999C4.29491 7.79332 4.56983 7.73999 4.88403 7.73999C5.61716 7.73999 6.21938 7.97999 6.69067 8.45999C7.16197 8.93999 7.39762 9.55333 7.39762 10.3ZM14.6242 10.3C14.6242 11.0733 14.3755 11.7 13.878 12.18C13.3805 12.6333 12.7521 12.86 11.9928 12.86C11.0764 12.86 10.3171 12.5533 9.71484 11.94C9.13881 11.3266 8.85079 10.4467 8.85079 9.29999C8.85079 8.07332 9.19117 6.87332 9.87194 5.69999C10.5789 4.49999 11.5608 3.55332 12.8176 2.85999L13.7209 4.25999C13.0401 4.73999 12.4903 5.27332 12.0713 5.85999C11.6786 6.44666 11.4168 7.12666 11.2858 7.89999C11.5215 7.79332 11.7964 7.73999 12.1106 7.73999C12.8437 7.73999 13.446 7.97999 13.9173 8.45999C14.3886 8.93999 14.6242 9.55333 14.6242 10.3Z", fill="currentColor")
                                                        h2(class="font-heading mb-2 text-2xl text-gray-600 font-black") Speculations and what more:
                                                        div(id="speculations", class="px-10 italic")

            include ../partials/footer.pug

        div(id="category_chip_template", class="hidden")
            //- This is the template that is used to generate content in the JS. The JS code will
            //- clone this template and fill it with data and then append it to the page
            li(class="w-auto p-3")
                span(class="inline-block px-8 py-3.5 text-lg text-white hover:text-gray-900 font-bold bg-gray-900 hover:bg-white rounded-full") {name}

        div(id="speculation_template", class="hidden")
            //- This is the template that is used to generate content in the JS. The JS code will
            //- clone this template and fill it with data and then append it to the page
            div(class="w-full p-4")
                blockquote(class="relative text-2xl text-gray-100 font-semibold")
                    svg(class="absolute -start-5 text-gray-100 dark:text-neutral-700", width="18", height="18", viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg", aria-hidden="true")
                        path(d="M7.39762 10.3C7.39762 11.0733 7.14888 11.7 6.6514 12.18C6.15392 12.6333 5.52552 12.86 4.76621 12.86C3.84979 12.86 3.09047 12.5533 2.48825 11.94C1.91222 11.3266 1.62421 10.4467 1.62421 9.29999C1.62421 8.07332 1.96459 6.87332 2.64535 5.69999C3.35231 4.49999 4.33418 3.55332 5.59098 2.85999L6.4943 4.25999C5.81354 4.73999 5.26369 5.27332 4.84476 5.85999C4.45201 6.44666 4.19017 7.12666 4.05926 7.89999C4.29491 7.79332 4.56983 7.73999 4.88403 7.73999C5.61716 7.73999 6.21938 7.97999 6.69067 8.45999C7.16197 8.93999 7.39762 9.55333 7.39762 10.3ZM14.6242 10.3C14.6242 11.0733 14.3755 11.7 13.878 12.18C13.3805 12.6333 12.7521 12.86 11.9928 12.86C11.0764 12.86 10.3171 12.5533 9.71484 11.94C9.13881 11.3266 8.85079 10.4467 8.85079 9.29999C8.85079 8.07332 9.19117 6.87332 9.87194 5.69999C10.5789 4.49999 11.5608 3.55332 12.8176 2.85999L13.7209 4.25999C13.0401 4.73999 12.4903 5.27332 12.0713 5.85999C11.6786 6.44666 11.4168 7.12666 11.2858 7.89999C11.5215 7.79332 11.7964 7.73999 12.1106 7.73999C12.8437 7.73999 13.446 7.97999 13.9173 8.45999C14.3886 8.93999 14.6242 9.55333 14.6242 10.3Z", fill="currentColor")
                    p {sentence}
