html(lang="en")
    head
        title Your Projects - LateUnicorn.com
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon.png")
        script(defer, src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2")
        script(defer, src="/js/main.js")
        script(defer, src="/js/dashboard.js")
    body(class="--authenticated-content antialiased bg-body text-body font-body bg-gray-900")
        div(class="--spinner flex items-center justify-center h-full")
            img(class="w-20 h-20 inline-block animate-spin", src="/images/spinner.svg", alt="")

        div(class="mb-8")
            - var disableNavbarButtons = ["dashboard"];
            include ../partials/navbar.pug

            section(class="pb-8 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="py-16 px-8 bg-gray-800 rounded-3xl")
                        div(class="max-w-7xl mx-auto")
                            div(class="mb-12 mx-auto")
                                div(class="flex flex-wrap items-center mb-6")
                                    div(class="w-full sm:w-1/2")
                                        h2(class="font-heading text-4xl lg:text-6xl text-white font-black tracking-tight") Your Projects
                                    div(class="w-full sm:w-1/2 mt-8 mb-2 sm:my-0 sm:text-right")
                                        a(class="px-6 py-4 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="/manage-project/") + Create new project
                                p(class="mx-auto text-gray-400 font-bold text-xl") Add, edit, and reflect on your past projects to preserve their legacy and share their stories.
                            div(id="project-list", class="flex flex-wrap -m-4 mb-6")
                                div(class="w-full mt-20 text-center")
                                    img(class="w-20 h-20 inline-block animate-spin", src="/images/spinner.svg", alt="")

        div(id="project_card_template", class="hidden")
            //- This is the template that is used to generate content in the JS. The JS code will
            //- clone this template and fill it with data and then append it to the page
            div(class="w-full md:w-1/3 p-4")
                div(class="h-full bg-gray-900 rounded-3xl")
                    a(href="{url}")
                        div(class="w-full h-40 flex items-center justify-center text-gray-200 font-bold text-6xl bg-gray-600 rounded-sm hover:bg-gray-400 hover:text-gray-700") {name_first_letter}
                    div(class="p-8")
                        a(class="group inline-block", href="{url}")
                            h3(class="font-heading text-xl text-white hover:text-gray-200 group-hover:underline font-black") {name}
