html(lang="en")
    head
        title Your Projects - LateUnicorn.com
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon.png")
        script(defer, src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2")
        script(defer, src="/js/main.js")
        script(defer, src="/js/dashboard.js")
    body(class="--authenticated-content antialiased bg-body text-body font-body bg-gray-900")
        div(class="--spinner flex items-center justify-center h-full")
            img(class="w-20 h-20 inline-block animate-spin", src="/images/spinner.svg", alt="")

        div(class="")
            - var disableNavbarButtons = ["dashboard"];
            include ../partials/navbar.pug

            section(class="pb-8 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="py-16 px-8 bg-gray-800 rounded-3xl")
                        div(class="max-w-7xl mx-auto")
                            div(class="mb-12 mx-auto")
                                h2(class="font-heading mb-6 text-4xl lg:text-6xl text-white font-black tracking-tight") Your Projects
                                p(class="mx-auto text-gray-400 font-bold text-xl") Add, edit, and reflect on your past projects to preserve their legacy and share their stories.
                            div(class="flex flex-wrap -m-4 mb-6")
                                div(class="w-full md:w-1/3 p-4")
                                    div(class="h-full bg-gray-900 rounded-3xl")
                                        img(class="w-full", src="/temp/img7.png", alt="")
                                        div(class="p-8")
                                            a(class="group inline-block mb-4", href="#")
                                                h3(class="font-heading text-2xl text-white hover:text-gray-200 group-hover:underline font-black") AquaTrack
                                div(class="w-full md:w-1/3 p-4")
                                    div(class="h-full bg-gray-900 rounded-3xl")
                                        img(class="w-full", src="/temp/img8.png", alt="")
                                        div(class="p-8")
                                            a(class="group inline-block mb-4", href="#")
                                                h3(class="font-heading text-2xl text-white hover:text-gray-200 group-hover:underline font-black") VR Therapy
                                div(class="w-full md:w-1/3 p-4")
                                    div(class="h-full bg-gray-900 rounded-3xl")
                                        img(class="w-full", src="/temp/img9.png", alt="")
                                        div(class="p-8")
                                            a(class="group inline-block mb-4", href="#")
                                                h3(class="font-heading text-2xl text-white hover:text-gray-200 group-hover:underline font-black") SmartRide

            include ../partials/footer.pug
