html(lang="en")
    head
        title LateUnicorn.com
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
    body(class="antialiased bg-body text-body font-body bg-gray-900")
        div(class="mt-12 text-5xl text-white text-center") LateUnicorn.com (WIP)
