html(lang="en")
    head
        title LateUnicorn.com - Every project has a unique story, and yours deserves to be told too
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon.png")
        script(defer, src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2")
        script(defer, src="/js/main.js")
        script(defer, src="/js/index.js")
    body(class="antialiased bg-body text-body font-body bg-gray-900")
        div(class="")
            include partials/navbar.pug

            section(class="pb-8 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap justify-center -m-4 mt-5 md:-mt-4")
                        div(class="w-full md:w-auto p-4 hidden lg:block")
                            img(class="mx-auto rounded-3xl", src="/images/late-unicorn-hero.jpg", alt="")
                        div(class="w-full md:flex-1 p-4")
                            div(class="relative flex flex-col justify-center items-center p-8 h-full text-center bg-gray-800 overflow-hidden rounded-3xl")
                                div(class="absolute bottom-0 left-1/2 min-w-max transform -translate-x-1/2")
                                    div(class="absolute bg-gradient-radial-dark-light w-full h-full")
                                    img(src="/images/pattern-grid-dark-light.svg", alt="")
                                div(class="relative max-w-lg")
                                    h1(class="font-heading mb-6 text-4xl md:text-5xl text-white font-black tracking-tight")
                                        span Explore the untold stories of projects and ideas that&nbsp;
                                        span(class="text-blue-500") almost changed the world
                                    p(class="mb-8 text-xl text-gray-500 font-bold") Preserve the memories of your projects that didn't make it. They might be dead, but their history is worth sharing, and their legacy may inspire new initiatives!
                                    div(class="flex flex-wrap justify-center -m-2")
                                        div(class="w-full md:w-auto p-2")
                                            a(class="block w-full text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full px-7 py-3", href="/login/") Get Started
            section(class="pt-10 pb-8 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="py-16 px-8 bg-gray-800 rounded-3xl")
                        div(class="max-w-7xl mx-auto")
                            div(class="mb-10")
                                h2(class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-white font-black tracking-tight") Explore The Ceased Projects
                                p(class="text-gray-400 font-bold text-xl") Browse through the collection of projects that didn't make it, keep their legacy alive, and discover valuable insights for your next creation.
                            div(class="flex flex-wrap -m-4 mb-12")
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-900 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="/temp/img1.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") #Sustainability #Automation #InternetOfThings
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-white hover:text-gray-200 group-hover:underline font-black") AquaTrack
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") Lifetime: 7 months
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-900 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="/temp/img2.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") #ArtDesign #E-commerce
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-white hover:text-gray-200 group-hover:underline font-black") CloudCanvas
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") Lifetime: 15 months
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-900 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="/temp/img3.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") #Health #VR
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-white hover:text-gray-200 group-hover:underline font-black") VR Therapy
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") Lifetime: 2 years and 3 months
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-900 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="/temp/img4.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") #Transportation #GreenTech
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-white hover:text-gray-200 group-hover:underline font-black") SmartRide
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") Lifetime: 3 months
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-900 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="/temp/img5.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") #Agriculture #ArtificialIntelligence
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-white hover:text-gray-200 group-hover:underline font-black") AgroAI
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") Lifetime: 9 months
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-900 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="/temp/img6.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") #Finance
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-white hover:text-gray-200 group-hover:underline font-black") Fintech AI
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") Lifetime: unknown
                            div(class="flex flex-wrap md:justify-center -m-2")
                                div(class="w-full md:w-auto p-2")
                                    a(class="block w-full px-12 py-3.5 text-lg text-center text-gray-900 font-bold bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:ring-gray-600 rounded-full", href="#") Show more projects

            include partials/footer.pug
